.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.comment-2{
    border-left: solid 1px #999;
    margin-left: 40px;
    margin-top: 25px;
    margin-right: 20px;
}

body {
    padding-top: 50px;
    font-family: STHeiti;
}

.communti-body{
    margin-right: -15px;
    margin-left: -15px;
}

.main{
    margin: 30px;
}

#myDiv {
    border-radius: 30px; /*这句就是重点，让边框变为圆角*/
}

/*超链接不变色*/
.href{
   text-decoration: none;
    color: inherit;
}

.error{
    color:red;
}

