<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>知秋论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/comment.js"></script>
</head>
<body>
<div th:fragment="footer">
    <div class="container-fluid" style="padding: 30px 22% 20px;">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <span style="color: white;">Copyright © 2019 · 知秋论坛 · 服务器: 阿里云 · 网站程序: java · ICP备0000号</span>
        </div>
    </div>
</div>
</body>
</html>