<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>知秋论坛</title>
    <link rel="icon" href="/img/header.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/comment.js"></script>
    <script src="/js/user.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/messages_zh.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body background="/img/background.jpg">
<script>
    window.onload=function () {
        var a = window.localStorage.getItem("closeable");
        if (a == "true"){
            window.close();
            window.localStorage.removeItem("closeable");
        }
    }
</script>
<div>
    <!--返回顶部的位置-->
    <span  name="gotop"></span>
    <!--返回顶部的位置-->
    <div th:insert="~{header :: header}"></div>
    <div>
    <div class="container-fluid main" style="background: white" id="myDiv">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h3><span><img style="width: 30px" src="/img/find.png" /></span>发现</h3>
            <hr>
            <div  style="margin-top: 30px"  class="media" th:each="question : ${allquestion}">
                <span class="media-left">
                    <a href="#">
                        <img style="width: 40px;height: 40px" class="img-rounded" th:src="${question.saveSession.avatar_url}" alt="...">
                    </a>
                </span>
                <span class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span class="text-desc">
                        <span th:text="${question.username}"></span> .
                        <span th:text="${question.commentcount}"></span>个回复 .
                        <span th:text="${question.viewcount}"></span>次浏览 .<span th:text="${#dates.format(question.createtime,'yyyy-MM-dd hh:mm')}"></span>
                    </span>
                </span>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pages.haveFirstPage}">
                        <a th:href="@{/(page=1)}" aria-label="Previous">
                            <span aria-hidden="true">首页</span>
                        </a>
                    </li>
                    <li th:if="${pages.havePrePage}"><a th:href="@{/(page=${pages.page-1})}">上页</a></li>
                    <li th:each="page : ${pages.pages}" th:class="${pages.page==page}?'active' : ''">
                        <a th:href="@{/(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pages.haveNextPage}"><a th:href="@{/(page=${pages.page+1})}">下页</a></li>
                    <li th:if="${pages.haveEndPage}">
                        <a th:href="@{/(page=${pages.countsize})}" aria-label="Next">
                            <span aria-hidden="true">尾页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="margin-top:18px;border-left: 1px solid #eee">
            <h4><span class="glyphicon glyphicon-leaf" aria-hidden="true">一叶知秋</span></h4>
            <hr>
            <!--轮播图-->
            <span>
                <div  id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                    <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <img src="/img/background2.jpg" alt="...">
                    </div>
                    <div class="item">
                      <img src="/img/background2.jpg" alt="...">
                    </div>
                  </div>
                </div>
            </span>
            <!--/轮播图-->
            <hr>
            <h4><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>热门</h4>
            <hr>
            <span>
                <marquee style="color: white" direction=up scrollamount=3 onmouseover="this.stop()" onmouseout="this.start()">
                <div th:if="${session.host!=null}" th:each="hostquestion : ${session.host}">
                    <div>
                        <h5>
                            <span><a th:text="${hostquestion.title}" th:href="@{'/question/'+${hostquestion.id}}"></a></span>
                            <span style="float: right;" class="text-desc"><span th:text="${hostquestion.viewcount}"></span>次阅读</span>
                        </h5>

                    </div>
                </div>
                </marquee>
            </span>
            <hr>
            <h4><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>最新</h4>
            <hr>
            <span>
                <div th:if="${session.new!=null}" th:each="newquestion : ${session.new}">
                    <h5>
                        <span><a th:text="${newquestion.title}" th:href="@{'/question/'+${newquestion.id}}"></a></span>
                        <span style="float: right;" class="text-desc" th:text="${#dates.format(newquestion.createtime,'yyyy-MM-dd')}"></span>
                    </h5>
                    <hr>
                </div>
            </span>
            <hr>
            <h4><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>热门标签</h4>
        </div>
    </div>
    </div>
    <!--模态框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">登录方式(点击图标选择登录方式)</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-left: 20%">
                        <span>
                            <h5>使用github账号登录</h5>
                            <span>
                                <img id="btn" onclick="btn()" src="/img/1109058.gif" height="100" width="100"/>
                            </span>
                        </span>
                    </div>
                    <div style="margin-left: 20%">
                         <span>
                            <h5>使用账号登录<a data-toggle="modal" data-target="#registerModal" data-dismiss="modal">点我注册</a></h5>
                            <span style="margin-left: 10px">
                                <a data-toggle="modal" data-target="#loginModal" data-dismiss="modal"><img src="/img/login.png" height="80" width="80"/></a>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--已有用户登录模态框-->
    <div  class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel">用户登录</h4>
                </div>
                <form id="loginform">
                    <div class="modal-body">
                        <div style="margin-left:20%">
                                <div class="form-group">
                                    <label for="mail">QQ邮箱:</label>
                                    <input style="width: 60%" type="email" name="name" class="form-control" id="mail" placeholder="请输入邮箱地址">
                                </div>
                                <div class="form-group">
                                    <label for="password">密码:</label>
                                    <input name="password"  style="width: 60%" type="password" class="form-control" id="password" placeholder="请输入密码">
                                </div>
                                <div class="form-group">
                                    <label for="code">邮箱验证码:</label>
                                    <input style="width: 60%" type="text" name="code" class="form-control" id="code" placeholder="请输入邮箱验证码">
                                    <input type="button" class="btn btn-default"  id="sendcode" onclick="sendmail()"   value="获取验证码">
                                </div>
                        </div>

                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="login"  onclick="login()" class="btn btn-primary">
                        登录
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--注册模态框-->
    <div  class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="registerModalLabel">用户注册</h4>
                </div>
                <form id="registerform">
                    <div class="modal-body">
                        <div style="margin-left:20%">
                            <div class="form-group">
                                <label for="mail">QQ邮箱:<p id="exit" style="color: red;display: none">*该邮箱已被注册</p></label>
                                <input style="width: 60%"  type="email" id="registermail" name="name"class="form-control" placeholder="请输入邮箱地址">
                            </div>
                            <div class="form-group">
                                <label for="password">密码:（长度6-16位，数字+字母组成，不含空格）</label>
                                <input name="password" id="registerpassword"  style="width: 60%" type="password" class="form-control"  placeholder="请输入密码">
                            </div>
                            <div class="form-group">
                                <label for="code">邮箱验证码:<p id="exitcode" style="color: red;display: none">*验证码错误</p></label>
                                <input style="width: 60%" type="text"id="registercode" name="code" class="form-control"  placeholder="请输入邮箱验证码">
                                <input type="button" class="btn btn-default" id="sendcode2"  onclick="sendmail2()"   value="获取验证码">

                            </div>
                        </div>
                    </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id="register"  onclick="register()" class="btn btn-primary">
                            注册
                        </button>
                    </div>
                </div>
        </div>
    </div>
    <!--返回顶部图标-->
    <a href="#gotop" >
        <div style="margin-left: 80%">
            <img  src="/img/top.png" id="gotop" alt="" style="position: fixed;bottom: 10px;display: none;height: 50px;width: 50px">
        </div>
    </a>
    <!--侧边菜单栏-->
    <div style="margin-left: 93%;position: fixed;bottom: 100px;">
            <div>
                <a class="href" href="/" >
                    <img  src="/img/say.png" id="s1" alt="" style="width: 30px;height: 30px" >
                </a>
                <font color="white">话题</font>
            </div>
            <br>
            <div>
                <a class="href" href="/" >
                    <img  src="/img/question.png" id="s1" alt="" style="width: 30px;height: 30px" >
                </a>
                <font color="white">问答</font>
            </div>
            <br>
            <div>
                <a class="href" href="/" >
                    <img  src="/img/like.png" id="s1" alt="" style="width: 30px;height: 30px" >
                </a>
                <font color="white">关注</font>
            </div>
            <br>
            <div>
                <a class="href" href="/" >
                    <img  src="/img/source.png" id="s1" alt="" style="width: 30px;height: 30px" >
                </a>
                <font color="white">资源</font>
            </div>
            <br>
            <div>
                <a class="href" href="/video/index" >
                    <img  src="/img/video.png" id="s1" alt="" style="width: 30px;height: 30px" >
                </a>
                <font color="white">视频</font>
            </div>
        </div>
    <!--尾部-->
    <div th:insert="~{footer :: footer}"></div>
</div>
</body>
</html>