<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>消息中心</title>
    <link rel="icon" href="/img/header.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/comment.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body background="/img/background.jpg">
<div>
    <!--返回顶部的位置-->
    <span  name="gotop"></span>
    <!--返回顶部的位置-->
    <div th:insert="~{header :: header}"></div>
    <div class="container-fluid main" style="background: white" id="myDiv">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3 th:text="${prifiletitle}"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></h3>
            <hr>
            <!--我的提问-->
            <div th:if="${key=='questions'}" >
                <div class="media" th:each="question : ${allquestion}">
                    <div class="media-left">
                        <a href="#">
                            <img style="width: 40px;height: 40px" class="img-rounded" th:src="${question.saveSession.avatar_url}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                        </h4>
                        <span class="text-desc"><span th:text="${question.commentcount}"></span>个回复 .
                            <span th:text="${question.viewcount}"></span>次浏览 .
                            <span th:text="${#dates.format(question.createtime,'yyyy-MM-dd hh:mm')}"></span>
                        </span>
                    </div>
                </div>
                <!--分页栏-->
                <nav aria-label="Page navigation" th:if="${key=='questions'}">
                    <ul class="pagination">
                        <li th:if="${pages.haveFirstPage}">
                            <a th:href="@{/profile/questions/(page=1)}" aria-label="Previous">
                                <span aria-hidden="true">首页</span>
                            </a>
                        </li>
                        <li th:if="${pages.havePrePage}"><a th:href="@{/profile/questions/(page=${pages.page-1})}">上页</a></li>
                        <li th:each="page : ${pages.pages}" th:class="${pages.page==page}?'active' : ''">
                            <a th:href="@{/profile/questions/(page=${page})}" th:text="${page}"></a>
                        </li>
                        <li th:if="${pages.haveNextPage}"><a th:href="@{/profile/questions/(page=${pages.page+1})}">下页</a></li>
                        <li th:if="${pages.haveEndPage}">
                            <a th:href="@{/profile/questions/(page=${pages.countsize})}" aria-label="Next">
                                <span aria-hidden="true">尾页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--收到的回复-->
           <div th:if="${key=='remessage'}">
               <!--一级回复-->
               <div class="media" th:if="${notreadcomment!=null}" th:each="comment : ${notreadcomment}">
                   <!--已读样式-->
                   <div th:if="${comment.read==0}" class="text-desc" >
                       <div class="media-left">
                           <a href="#">
                               <img style="width: 40px;height: 40px" class="img-rounded" th:if="${comment.user.avatar_url!=null}" th:src="${comment.user.avatar_url}" alt="...">
                           </a>
                       </div>
                       <div class="media-body">
                           <h5 class="media-heading" >
                               <span th:text="${comment.user.name}"></span>
                               在
                               <a th:href="@{'/question/'+${comment.questionid}}" th:text="${comment.question.title}"></a>
                               中回复了:
                               <!--删除该评论-->
                               <span style="float: right;">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                   <span  class="text-desc"><a href="#">删除</a></span>
                               </span>
                           </h5>
                           <h5><span th:text="${comment.comment}"></span></h5>
                           <span style="float: right" th:text="${#dates.format(comment.commenttime,'yyyy-MM-dd hh:mm')}"></span>
                           <hr>
                       </div>
                   </div>
                   <!--未读样式-->
                   <div th:if="${comment.read==1}" >
                       <div class="media-left">
                           <a href="#">
                               <img style="width: 40px;height: 40px" class="img-rounded" th:if="${comment.user.avatar_url!=null}" th:src="${comment.user.avatar_url}" alt="...">
                           </a>
                       </div>
                       <div class="media-body">
                           <h5 class="media-heading" >
                               <span th:text="${comment.user.name}"></span>
                               在
                               <a th:href="@{'/question/'+${comment.questionid}}" th:text="${comment.question.title}"></a>
                               中回复了:
                               <!--标为已读1-->
                               <span style="float: right;">
                                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                                   <span  class="text-desc"><a th:href="@{'/comment/'+${comment.id}}">标为已读</a></span>
                               </span>
                               <!--删除该评论-->
                               <span style="float: right;margin-right: 10px">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                   <span  class="text-desc"><a href="#">删除</a></span>
                               </span>
                           </h5>
                           <h5><span th:text="${comment.comment}"></span></h5>
                           <span style="float: right" th:text="${#dates.format(comment.commenttime,'yyyy-MM-dd hh:mm')}"></span>
                           <hr>
                       </div>
                   </div>
               </div>
               <!--二级回复-->
               <div class="media" th:if="${notreadrecomment!=null}" th:each="recomment : ${notreadrecomment}">
                   <!--已读样式-->
                   <div class="text-desc" th:if="${recomment.read==0}">
                       <div class="media-left">
                           <a href="#">
                               <img style="width: 40px;height: 40px" class="img-rounded" th:src="${recomment.user.avatar_url}" alt="...">
                           </a>
                       </div>
                       <div class="media-body">
                           <h5 class="media-heading" >
                               <span th:text="${recomment.user.name}"></span>
                               在
                               <a th:href="@{'/question/'+${recomment.questionid}}" th:text="${recomment.question.title}"></a>
                               中回复了:
                               <!--删除该评论-->
                               <span style="float: right;">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                   <span  class="text-desc"><a href="#">删除</a></span>
                               </span>
                           </h5>
                           <h5><span th:text="${recomment.recomment}"></span></h5>
                           <span style="float: right" th:text="${#dates.format(recomment.recommenttime,'yyyy-MM-dd hh:mm')}"></span>
                           <hr>
                       </div>
                   </div>
                   <!--未读样式-->
                   <div  th:if="${recomment.read==1}">
                       <div class="media-left">
                           <a href="#">
                               <img style="width: 40px;height: 40px" class="img-rounded" th:src="${recomment.user.avatar_url}" alt="...">
                           </a>
                       </div>
                       <div class="media-body">
                           <h5 class="media-heading" >
                               <span th:text="${recomment.user.name}"></span>
                               在
                               <a  th:href="@{'/question/'+${recomment.questionid}}" th:text="${recomment.question.title}"></a>
                               中回复了:
                               <!--标为已读1-->
                               <span style="float: right;">
                                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                                   <span  class="text-desc"><a th:href="@{'/recomment/'+${recomment.id}}">标为已读</a></span>
                               </span>
                               <!--删除该评论-->
                               <span style="float: right;margin-right: 10px">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                   <span  class="text-desc"><a href="#">删除</a></span>
                               </span>
                           </h5>
                           <h5><span th:text="${recomment.recomment}"></span></h5>
                           <span style="float: right" th:text="${#dates.format(recomment.recommenttime,'yyyy-MM-dd hh:mm')}"></span>
                           <hr>
                       </div>
                   </div>
               </div>
           </div>
        <!--右侧栏-->
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <div class="list-group">
                <a href="/profile/questions" th:class="${questions=='questions'}?'list-group-item active ':'list-group-item'">
                    我的提问
                </a>
                <a href="/profile/remessage" th:class="${remessages=='remessages'}?'list-group-item active':'list-group-item'">
                    <span class="badge" style="float: right;background-color: red" th:if="${session.allnotreadcount!=0}" th:text="${session.allnotreadcount}"></span>
                    收到的回复
                </a>
            </div>
        </div>
    </div>
    <!--模态框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">登录方式(点击图标选择登录方式)</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-left: 20%">
                        <span>
                            <h5>使用github账号登录</h5>
                            <span>
                                <img id="btn" onclick="btn()" src="/img/1109058.gif" height="100" width="100"/>
                            </span>
                        </span>
                    </div>
                    <div style="margin-left: 20%">
                         <span>
                            <h5>使用账号登录<a data-toggle="modal" data-target="#registerModal" data-dismiss="modal">点我注册</a></h5>
                            <span style="margin-left: 10px">
                                <a data-toggle="modal" data-target="#loginModal" data-dismiss="modal"><img src="/img/login.png" height="80" width="80"/></a>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--已有用户登录模态框-->
    <div  class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel">用户登录</h4>
                </div>
                <form id="loginform">
                    <div class="modal-body">
                        <div style="margin-left:20%">
                            <div class="form-group">
                                <label for="mail">QQ邮箱:</label>
                                <input style="width: 60%" type="email" name="name" class="form-control" id="mail" placeholder="请输入邮箱地址">
                            </div>
                            <div class="form-group">
                                <label for="password">密码:</label>
                                <input name="password"  style="width: 60%" type="password" class="form-control" id="password" placeholder="请输入密码">
                            </div>
                            <div class="form-group">
                                <label for="code">邮箱验证码:</label>
                                <input style="width: 60%" type="text" name="code" class="form-control" id="code" placeholder="请输入邮箱验证码">
                                <input type="button" class="btn btn-default"  id="sendcode" onclick="sendmail()"   value="获取验证码">
                            </div>
                        </div>

                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="login"  onclick="login()" class="btn btn-primary">
                        登录
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--注册模态框-->
    <div  class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="registerModalLabel">用户注册</h4>
                </div>
                <form id="registerform">
                    <div class="modal-body">
                        <div style="margin-left:20%">
                            <div class="form-group">
                                <label for="mail">QQ邮箱:<p id="exit" style="color: red;display: none">*该邮箱已被注册</p></label>
                                <input style="width: 60%"  type="email" id="registermail" name="name"class="form-control" placeholder="请输入邮箱地址">
                            </div>
                            <div class="form-group">
                                <label for="password">密码:（长度6-16位，数字+字母组成，不含空格）</label>
                                <input name="password" id="registerpassword"  style="width: 60%" type="password" class="form-control"  placeholder="请输入密码">
                            </div>
                            <div class="form-group">
                                <label for="code">邮箱验证码:<p id="exitcode" style="color: red;display: none">*验证码错误</p></label>
                                <input style="width: 60%" type="text"id="registercode" name="code" class="form-control"  placeholder="请输入邮箱验证码">
                                <input type="button" class="btn btn-default" id="sendcode2"  onclick="sendmail2()"   value="获取验证码">

                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="register"  onclick="register()" class="btn btn-primary">
                        注册
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--返回顶部图标-->
    <a href="#gotop" >
        <div style="margin-left: 80%">
            <img  src="/img/top.png" id="gotop" alt="" style="position: fixed;bottom: 10px;display: none;height: 50px;width: 50px">
        </div>
    </a>
    <!--侧边菜单-->
    <div style="margin-left: 93%;position: fixed;bottom: 100px;">
        <div>
            <a class="href" href="/" >
                <img  src="/img/say.png" id="s1" alt="" style="width: 30px;height: 30px" >
            </a>
            <font color="white">话题</font>
        </div>
        <br>
        <div>
            <a class="href" href="/" >
                <img  src="/img/question.png" id="s1" alt="" style="width: 30px;height: 30px" >
            </a>
            <font color="white">问答</font>
        </div>
        <br>
        <div>
            <a class="href" href="/" >
                <img  src="/img/like.png" id="s1" alt="" style="width: 30px;height: 30px" >
            </a>
            <font color="white">关注</font>
        </div>
        <br>
        <div>
            <a class="href" href="/" >
                <img  src="/img/source.png" id="s1" alt="" style="width: 30px;height: 30px" >
            </a>
            <font color="white">资源</font>
        </div>
        <br>
    </div>
    <!--尾部-->
    <div th:insert="~{footer :: footer}"></div>
</div>
</body>
</html>