<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>知秋论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/editormd.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/comment.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
    <script src="/js/plugins/image-dialog/image-dialog.js" type="application/javascript"></script>
    <script src="/js/likecomment.js"></script>
    <script src="/js/user.js"></script>

</head>
<body background="/img/background.jpg">
<div>
    <!--返回顶部的位置-->
    <span  name="gotop"></span>
    <!--返回顶部的位置-->
    <div th:insert="~{header :: header}"></div>
    <div class="container-fluid main" style="background: white" id="myDiv">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="background: white">
            <h3 th:text="${question.title}"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></h3>
            <span>
                <span class="text-desc">  作者：<a th:text="${question.username}"></a></span>
                <span class="text-desc"> | 发布于<span  th:text="${#dates.format(question.createtime,'yyyy-MM-dd hh:mm')}"></span></span>
                <span  class="text-desc" > | 阅读数：<span th:text="${question.viewcount}"></span></span>
            </span>
            <hr>
            <!--内容-->
            <div id="question-view">
                <textarea style="display: none;" th:text="${question.desction}"></textarea>
            </div>
            <script>
                $(function(){
                    editormd.markdownToHTML("question-view",{});
                });
            </script>


            <hr>
            <span  class="text-desc">
                <span th:text="${#dates.format(question.createtime,'yyyy-MM-dd')}"></span>
                <span th:if="${session.user!=null&&session.user.getName()==question.username}">
                    <span class=" glyphicon glyphicon-edit " aria-hidden="true"></span>
                    <a class="text-desc" th:href="@{'/question/toedit/'+${question.id}}">编辑</a>
                    <!--// th:href="@{'/edit/'+${question.id}}-->
                </span>
            </span>
            <!--文章点赞-->
            <!--未点赞文章-->
            <span id="questionlike" th:onclick="|likeclick(${question.id})|" style="float: right;font-size: 20px" class=" glyphicon glyphicon-thumbs-up " aria-hidden="true" th:if="${likekey==null}" th:text="${like}"></span>
            <span th:onclick="|likeclick(${question.id})|" style="float: right;font-size: 20px;color: red" class=" glyphicon glyphicon-thumbs-up " aria-hidden="true" th:if="${likekey!=null}" th:text="${like}"></span>
            <!--<span  style="float: right;font-size: 25px;"><span id="like" onclick="like()" class=" glyphicon glyphicon-thumbs-up " aria-hidden="true"></span>-->
                <!--<span id="yes" style="display: none">谢谢!</span>-->
                <!--<span id="begin">赞一个</span>-->
            <!--</span>-->
            <!--标签-->
            <div>
                <span th:each="tag : ${question.tag.split(' ')}" >
                    <span class="label label-info" th:text="${tag}"></span>
                </span>
            </div>
            <hr>
            <span>
                <h4>评论人数:<span th:text="${question.commentcount}"></span></h4>
            </span>
            <br>
            <!--评论-->
            <span id="commentpan" style="margin-top: 10px;margin-bottom: 10px">
                <span th:if="${session.comments!=null}" th:each="comment : ${session.comments}">
                    <span>
                            <span class="media-left">
                                <a href="#">
                                    <img style="width: 35px;height: 35px" class="img-rounded" th:src="${comment.user.avatar_url}" alt="...">
                                </a>
                            </span>
                            <span class="media-body">
                                <span>
                                    <h5 class="media-heading"><span th:text="${comment.user.name}"></span>：</h5>
                                </span>
                                <span style="display:block;word-break: break-all;word-wrap: break-word;" th:text="${comment.comment}"></span>
                            </span>
                    </span>
                    <span>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp&nbsp&nbsp&nbsp
                        <span th:onclick="|commentclick(${comment.id})|" th:id="'type-'+${comment.id}" class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        <span class="text-desc"><span th:text="${comment.recommentcount}"></span></span>
                        <span class="text-desc" style="float: right;" th:text="${#dates.format(comment.commenttime,'yyyy-MM-dd hh:mm')}"></span>
                    </span>

                        <!--二级回复-->
                        <div class="comment-2" th:id="${comment.id}" style="display: none">

                                <div th:if="${comment.recomment!=null}" th:each="recomments : ${comment.recomment}" style="margin-bottom: 20px;margin-left: 20px;margin-top: 20px">
                                    <span class="media-left">
                                        <a href="#">
                                            <img style="width: 35px;height: 35px;" class="img-rounded" th:src="${recomments.user.avatar_url}" alt="...">
                                        </a>
                                    </span>
                                    <span class="media-body">
                                        <span>
                                            <h5 class="media-heading"><span th:text="${recomments.user.getName()}"></span>：</h5>
                                        </span>
                                        <span style="display:block;word-break: break-all;word-wrap: break-word;" th:text="${recomments.recomment}"></span>
                                    </span>
                                    <span style="margin-left: 20px">
                                        <span class="text-desc" style="float: right;" th:text="${#dates.format(recomments.recommenttime,'yyyy-MM-dd hh:mm')}"></span>
                                    </span>
                                </div>
                            <hr>
                            <div class="form-group" style="margin-bottom: 20px;margin-left: 20px;margin-top: 20px" >
                                <!--当前评论的用户id-->
                                <input th:id="'recommentor-'+${comment.id}" type="hidden"  th:if="${session.user!=null}" th:value="${session.user.id}">
                                <!--当前所回复的用户id-->
                                <input th:id="'commentor-'+${comment.id}" type="hidden"  th:value="${comment.commentor}">
                                <span class="form-group">
                                    <input type="text" class="form-control" th:id="'recomment-'+${comment.id}" placeholder="输入回复内容">
                                </span>
                                 <!--<span><textarea  name="recomment"  class="form-control" rows="2" cols="20" placeholder="输入回复内容"></textarea></span>-->
                                 <span>
                                     <button th:onclick="|postrecomment(${comment.id})|" type="button" class="btn btn-success">回复</button>
                                     <button th:onclick="|deletecomment(${comment.id})|" type="button" class="btn btn-default">取消</button>
                                 </span>
                            </div>

                        </div>
                        <!--/二级回复-->
                    <hr>
                    </span>
                </span>
            </span>
            <!--/评论-->
            <!--当前用户-->
            <span>
                <span><h4>当前用户:</h4></span>
                <span th:if="${session.user!=null}">
                    <span class="media-left">
                        <a href="#">
                            <img style="width: 35px;height: 35px" class="img-rounded" th:src="${session.user.avatar_url}" alt="...">
                        </a>
                    </span>
                    <span class="media-body">
                        <h4 class="media-heading" style="margin-top: 7px" th:text="${session.user.name}"></h4>
                    </span>
                </span>
                 <span th:if="${session.user==null}">
                    <span class="media-left">
                        <a href="#">
                            <img style="width: 35px;height: 35px" class="img-rounded" src="/img/用户.png"  alt="...">
                        </a>
                    </span>
                    <span class="media-body">
                        <h4 class="media-heading" style="margin-top: 7px" >匿名用户</h4>
                    </span>
                </span>
                <div class="form-group">
                        <textarea id="comment" class="form-control" rows="10" cols="20" name="comment" placeholder="说点什么吧"></textarea>
                </div>
            <div  class="form-group">
                <button onclick="post()" style="float: right;margin-bottom: 20px;" type="button" class="btn btn-success">回复</button>
            </div>
            </span>
            <hr>
            <input id="questionid" type="hidden" name="id" th:value="${question.id}">
            <input id="commentor" type="hidden" name="commentor" th:if="${session.user!=null}" th:value="${session.user.id}">
        </div>
        <div  class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <div class="list-group">
                <h4><span class="glyphicon glyphicon-user" aria-hidden="true">发起人</span></h4>
                <span>
                    <span class="media-left">
                        <a href="#">
                            <img style="width: 35px;height: 35px" class="img-rounded" th:src="${question.saveSession.avatar_url}" alt="...">
                        </a>
                    </span>
                    <span class="media-body">
                        <h4 class="media-heading" style="margin-top: 7px" th:text="${question.username}"></h4>
                    </span>
                </span>
                <hr>
                <!--相关问题-->
                <span>
                    <h4><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>相关问题：</h4>
                    <hr>
                    <span th:if="${session.similequestion!=null}" th:each="squestion : ${session.similequestion}">
                        <div style="margin-left: 10px">
                            <h5><a th:text="${squestion.title}" th:href="@{'/question/'+${squestion.id}}"></a></h5>
                        </div>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <!--模态框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">登录方式</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-left: 100px">
                        <span>
                            <h4>使用github账号登录</h4>
                            <span>
                                <img id="btn" onclick="btn()" src="/img/1109058.gif" height="128" width="128"/>
                            </span>
                        </span>
                    </div>
                    <div style="margin-left: 100px">
                         <span>
                            <h4>使用已有账号登录/<a data-toggle="modal" data-target="#registerModal" data-dismiss="modal">没有账号？点击注册</a></h4>
                         </span>
                        <span style="margin-left: 10px">
                                <a data-toggle="modal" data-target="#loginModal" data-dismiss="modal"><img src="/img/login.png" height="100" width="100"/></a>
                            </span>
                    </div>
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--已有用户登录模态框-->
    <div  class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="loginModalLabel">用户登录</h4>
                </div>
                <form id="loginform">
                    <div class="modal-body">
                        <div style="margin-left:170px">
                            <div class="form-group">
                                <label for="mail">QQ邮箱:</label>
                                <input style="width: 60%" type="email" name="name" class="form-control" id="mail" placeholder="请输入邮箱地址">
                            </div>
                            <div class="form-group">
                                <label for="password">密码:</label>
                                <input name="password"  style="width: 60%" type="password" class="form-control" id="password" placeholder="请输入密码">
                            </div>
                            <div class="form-group">
                                <label for="code">邮箱验证码:</label>
                                <input style="width: 60%" type="text" name="code" class="form-control" id="code" placeholder="请输入邮箱验证码">
                                <input type="button" class="btn btn-default"  id="sendcode" onclick="sendmail()"   value="获取验证码">
                            </div>
                        </div>

                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="login"  onclick="login()" class="btn btn-primary">
                        登录
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--注册模态框-->
    <div  class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="registerModalLabel">用户注册</h4>
                </div>
                <form id="registerform">
                    <div class="modal-body">
                        <div style="margin-left:170px">
                            <div class="form-group">
                                <label for="mail">QQ邮箱:<p id="exit" style="color: red;display: none">*该邮箱已被注册</p></label>
                                <input style="width: 60%"  type="email" id="registermail" name="name"class="form-control" placeholder="请输入邮箱地址">
                            </div>
                            <div class="form-group">
                                <label for="password">密码:（长度6-16位，数字+字母组成，不含空格）</label>
                                <input name="password" id="registerpassword"  style="width: 60%" type="password" class="form-control"  placeholder="请输入密码">
                            </div>
                            <div class="form-group">
                                <label for="code">邮箱验证码:<p id="exitcode" style="color: red;display: none">*验证码错误</p></label>
                                <input style="width: 60%" type="text"id="registercode" name="code" class="form-control"  placeholder="请输入邮箱验证码">
                                <input type="button" class="btn btn-default" id="sendcode2"  onclick="sendmail2()"   value="获取验证码">

                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="register"  onclick="register()" class="btn btn-primary">
                        注册
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--返回顶部图标-->
    <a href="#gotop" >
        <div style="margin-left: 80%">
            <img  src="/img/top.png" id="gotop" alt="" style="position: fixed;bottom: 10px;display: none;height: 50px;width: 50px">
        </div>
    </a>
    <!--尾部-->
    <div th:insert="~{footer :: footer}"></div>
</div>
</body>
</html>